scopeName: 'source.hdbsequence'
name: 'HDBSEQUENCE'
fileTypes: [
  'hdbsequence'
]
repository:
  line_comment:
    comment: 'Single-line comment'
    name: 'comment.line.double-slash.hdbsequence'
    begin: '//'
    end: '$'
  keywords:
    comment: 'Reserved keyword'
    name: 'keyword.operator.misc.hdbsequence'
    match: '\\b(cycles|depends_on_table|increment_by|minvalue|reset_by|schema|start_with)\\b'
  string_value:
    begin: '(=\s*)(")'
    beginCaptures:
      2:
        name: 'punctuation.definition.string.begin.hdbsequence'
    end: '[!^\\"](?!.*\")(;)$'
    endCaptures:
      0:
        name: 'punctuation.definition.string.end.hdbsequence'
      1:
        name: 'punctuation.terminator.statement.hdbsequence'
    patterns: [
      { include: 'source.sql' }
    ]
  string_literal:
    comment: 'Double-quote string literal'
    name: 'string.quoted.double.hdbsequence'
    begin: 'b?"'
    end: '"'

patterns: [
  { include: '#line_comment' }
  { include: '#keywords' }
  { include: '#string_value' }
  { include: '#string_literal' }
]
