scopeName: 'source.hdbview'
name: 'HDBVIEW'
fileTypes: [
  'hdbview'
]
repository:
  line_comment:
    comment: 'Single-line comment'
    name: 'comment.line.double-slash.hdbview'
    begin: '//'
    end: '$'
  keywords:
    comment: 'Reserved keyword'
    name: 'keyword.operator.misc.hdbview'
    match: '\\b(schema|query|depends_on)\\b'
  string_value:
    begin: '(=)(")'
    beginCaptures:
      2:
        name: 'punctuation.definition.string.begin.hdbview'
    end: '[!^\\"](?!.*\")(;)$'
    endCaptures:
      0:
        name: 'punctuation.definition.string.end.hdbview'
      1:
        name: 'punctuation.terminator.statement.hdbview'
    patterns: [
      { include: 'source.sql' }
    ]
  string_literal:
    comment: 'Double-quote string literal'
    name: 'string.quoted.double.hdbview'
    begin: 'b?"'
    end: '"'

patterns: [
  { include: '#line_comment' }
  { include: '#keywords' }
  { include: '#string_value' }
  { include: '#string_literal' }
]
